<h1> <%= @blogger.name %> </h1>
Total likes: <%= @blogger.posts.inject(0) { |sum, num| sum + num.likes } %><br>
<% @featured_post = @blogger.posts.max_by { |x| x.likes } %>
<%= link_to "Featured Post", @featured_post.title, @blogger %>